
body                                                                
{
    background-color: seagreen;
}
.btn
{
  border: 2px solid rgb(60, 0, 150);
  border-spacing: auto;
  position: relative; 
  color:white;
  background-color: rgb(52, 43, 43);
  padding: 10px;
  font-size: 40px;
  background: linear-gradient(90deg,#0162c8,#55e7fc);
transition-duration: 1s;
border-radius: 10%;
margin: 100px,100px;
border: none;
margin-top: 2%;
margin-bottom: 2%;
margin-left: 2%;
margin-right: 2%;
float:none;


 }
 .inp

 {
   height: 100px;
   width: 100%;
   border: 2px solid rgb(0, 255, 0);
   margin-bottom: auto;
   border-spacing: auto;
   margin-left: auto;
   margin-right: auto;
 }
form
{
  background-color: rgba(255,255,255,0.5);
}
input
{
    float: center; 
    font-size: 40px;
    background-color: rgb(52, 47, 47);
    color: white;
    box-sizing: border-box; 
    text-align: right;  
}
